* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  /* box-sizing: border-box; */
}

h1,
h2,
h3 {
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: 300;
  color: #485460;
}

p {
  font-weight: 100;
}

section {
  background: #fff;
  overflow: hidden;
  height: 100vh;
}

ul li {
  list-style: none;
}

/*
background video
*****************************************/

#home {
  background: none;
  height: 100%;
}

#home-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  height: auto;
  z-index: -1;
  /* background: url("../video/london.jpg") no-repeat; */
  background-size: cover;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

#home-overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/*
end of background video
*****************************************/

/*
Home page text
*****************************************/

.home-btn,
.home-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  width: 90%;
  height: 50%;
  border: 1px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}

.home-heading-1,
.home-heading-2 {
  color: #fff;
  font-size: 2em;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
}

.home-heading-1 span {
  font-weight: 400;
  color: #0097e6;
}
/*
end of home page text
*****************************************/

/*
home-page button
*****************************************/
a {
  text-decoration: none;
}

.home-btn-box {
  padding-top: 2em;
}

.btn {
  color: #0097e6;
  border: 1px solid #0097e6;
  padding: 0.6em 1.6em;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}

.btn-ghost:hover,
.btn-ghost:active {
  color: #fff;
  border: 1px solid #0097e6;
  background: #0097e6;
  border: solid 1px #fff;
  transition: all 4s ease-in-out;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#heading {
  text-align: center;
  height: 10vh;
  font-size: 1.2em;
  padding-bottom: 1em;
}

.card__section {
  height: auto;
}

.title {
  display: inline;
}

.card__container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.about-me-box {
  text-align: center;
}

.card__container-box {
  display: flex;
  flex: 1;
  width: 60%;
  height: 34em;
}

.card__details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 1em;
  height: auto;
  padding: 1em;
}

.card__detail li {
  font-size: 1.1em;
  padding: 0.1em;
  font-family: "Lato", sans-serif;
}

.card__heading {
  position: absolute;
  font-size: 1.3em;
  text-transform: uppercase;
  color: #fff;
}

.card__heading h3 {
  font-weight: 400;
}

.card__detail li {
  margin: 0 auto;
  padding: 0.3em;
}

.card__detail {
  height: 5em;
  padding: 0;
  text-align: center;
  padding: 0.5em;
  margin-top: -1.5em;
}

.card__picture-parcel,
.card__picture-party,
.card__picture-airport {
  animation: moveLeft 10s ease 1s infinite alternate;
  -webkit-animation: moveLeft 10s ease 1s infinite alternate;
  background-size: cover;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-position: bottom left;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 12em;
  overflow: hidden;
  padding-bottom: 11em;
  width: 100%;
}

@keyframes moveLeft {
  100% {
    background-position: bottom right;
  }
}

.card__picture-parcel {
  background-image: linear-gradient(to right bottom, #4cd137, #badc58),
    url(../css/img/parcel.jpg);
}

.card__picture-airport {
  background-image: linear-gradient(to right bottom, #3498db, #3742fa),
    url(../css/img/baggage.jpg);
}

.card__picture-party {
  background-image: linear-gradient(to right bottom, #ff7f50, #ff6348),
    url(../css/img/party.jpg);
}

.blend {
  background-size: cover;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

/*=======================================
 footer social media
==========================================*/

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #485460;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: auto;
}

.fab {
  font-size: 1.6em;
  padding: 1em;
}

.fa-facebook {
  color: #3b5998;
}

.fa-google-plus-square {
  color: #db4437;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-linkedin {
  color: #007bb5;
}

.fa-youtube-square {
  color: #ff0000;
}

.fa-whatsapp {
  color: #25d366;
}

.footer-container-details--p {
  color: #fff;
  text-align: center;
}

/*=========================================
===========================================*/

@media (min-width: 768px) {
  .card__section {
    flex-direction: row;
    padding: 1em;
  }
  .home-heading-1,
  .home-heading-2 {
    font-size: 3em;
  }
  .card__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .card__container-box {
    padding: 1em;
  }
  .card__picture {
    height: 20em;
  }
}

@media (min-width: 1224px) {
  .card__details {
    padding: 2em;
  }
  #heading {
    font-size: 1.6em;
  }
}
