/* =========================================
                Global style
============================================ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  font-size: 10px;
}

.section-project {
  background-color: #e5e6e4;
}

h1,
h2,
h3 {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #485460;
}

p {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #fff;
}

ul li {
  list-style: none;
}

html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

section {
  padding: 10rem 0;
  background-color: #fff;
}

/* =========================================
                Preloader
============================================ */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* =========================================
                Navigation icon
============================================ */

#nav-icon {
  position: absolute;
  left: 80%;
  top: 5%;
  cursor: pointer;
  padding: 13px 20px 16px 0px;
}

#nav-icon span,
#nav-icon span:before,
#nav-icon span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: blue;
  position: absolute;
  display: block;
  content: "";
}
#nav-icon span:before {
  top: -10px;
}
#nav-icon span:after {
  bottom: -10px;
}

#nav-icon span,
#nav-icon span:before,
#nav-icon span:after {
  transition: all 300ms ease-in-out;
}
#nav-icon.active span {
  background-color: transparent;
}
#nav-icon.active span:before,
#nav-icon.active span:after {
  top: 0;
}
#nav-icon.active span:before {
  transform: rotate(45deg);
}
#nav-icon.active span:after {
  transform: rotate(-45deg);
}

/* =========================================
                Navigation menu
============================================ */
.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #ae5f23 0%, #6ecf8d 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  position: relative;
  z-index: 200;
}
.main-nav {
  list-style-type: none;
}
.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav ul {
  width: 100%;
}

.main-nav li {
  text-align: center;
  margin: 0.4rem auto;
  padding: 1rem 1rem;
  width: 100%;
}

.main-nav li a {
  text-align: center;
  margin: 1rem auto;

  width: 100%;
}

.main-nav li:hover {
  background-color: #333;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 1rem;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.active {
  display: block;
}

/* =========================================
                Home Page
============================================ */

#home {
  background: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#home-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  height: auto;
  z-index: -1;
  background-size: cover;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

#home-overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* =========================================
                Heading title
============================================ */
.home__content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  width: 90%;
  height: 50%;
  border: 1px;
}

#home__heading-1,
#home__heading-2 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
}

#home__heading-1 span {
  font-weight: 400;
  color: #0097e6;
}

.home-btn-box {
  padding-top: 2rem;
}

.btn {
  padding: 1rem 2.5rem;
  background-color: #0097e6;
  border-radius: 2rem;
  margin: 1rem;
  text-transform: uppercase;
  color: #eee;
  font-size: 1.4rem;
  transition: all 0.5s;
}

/* =========================================
                Modal pop up
============================================ */
button {
  cursor: pointer;
  outline: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 600ms ease-in-out;
  border: 2px solid #fff;
  border-radius: 10px;
  z-index: 10;
  background-color: #0097e6;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  font-size: 2.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* =========================================
                Arrow Down
============================================ */

#arrow-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  color: #fff;
  font-size: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  margin-left: -16px;
  z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
  color: #0097e6;
}

/* =========================================
                Page title
============================================ */

.heading {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: #333;
  position: relative;
}

.heading::after {
  content: "";
  width: 10rem;
  height: 0.8rem;
  background-color: #0097e6;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

/* =========================================
                About Page
============================================ */
/* // */
.about-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.about__text {
  flex: 1 1 300px;
  margin: 1em;
  font-size: 2rem;
  padding: 1rem;
}

.about__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}

.about-image {
  width: 80%;
  height: auto;
}

/* =========================================
                Cards projects
============================================ */
.card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.card {
  width: 28rem;
  background-color: #fbfbf2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
}

.card .card-img {
  width: 100%;
  height: 26rem;
  object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 68%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 68%, 0% 100%);
}

.card h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 1.5rem 0;
}

.job-title {
  color: #777;
  font-size: 1rem;
  font-weight: 300;
}

.description {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-style: italic;
  text-align: center;
  color: #333;
}

.card .btn {
  padding: 1rem 2.5rem;
  background-color: #445ae3;
  border-radius: 2rem;
  margin: 1rem;
  text-transform: uppercase;
  color: #eee;
  font-size: 1.4rem;
  transition: all 0.5s;
}

.card .btn:hover {
  transform: translateY(-2px);
  box-shadow: 0.5rem 0.5rem. 2rem rgba(0, 0, 0, 0.2);
}

.card .btn:active {
  transform: translateY(0);
  box-shadow: none;
}

.link-btn {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* =========================================
                Skill page
============================================ */

.heading__sub {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}

.fab {
  font-size: 5rem;
  padding: 1rem;
}

.skill-container {
  height: 50vh;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  margin: 0 1rem;
}

.skill-icon {
  flex: 1 1 2rem;
  margin: 1em;
}

/* =========================================
                Contact
============================================ */

.section-contact {
  background-color: #e5e6e4;
  background-size: cover;
  padding: 40px 0;
  color: #fff;
  overflow: hidden;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 2rem 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #34455e;
}
textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  border: 0;
  padding: 1rem 2.5rem;
  background-color: #445ae3;
  border-radius: 2rem;
  margin: 1rem;
  color: #eee;
  font-size: 1.4rem;
  transition: 0.5s;
}

.contact-form-btn:hover {
  background: #6bf178;
}

/* =========================================
                Footer
============================================ */

footer {
  background: #111;
  height: auto;
  width: 100%;
}

.footer-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 3rem;
}

ul p {
  color: blue;
  padding: 0.5rem;
}

.social {
  display: flex;
  flex-direction: row;
}

span {
  /* padding: 0.5rem; */
}
.social li i {
  font-size: 3rem;
}

.modal__text,
.footer__text {
  flex: 1 1 200px;
  margin: 1em;
  font-size: 1.5rem;
  padding: 2rem;
}

.ul-border li,
.modal-links li i,
.footer-links li i {
  padding: 1rem;
}

.footer-bottom {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

/* =========================================
                Animation
============================================ */

/* #home-heading-1,
#home-heading-2,
#home-text,
#home-btn,
#arrow-down i {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
#home__heading-1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

#home__heading-2 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

#home-btn {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

#arrow-down i {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
} */
