/* responsive */

/* @media (min-width: 768px) {
  .card__section {
    flex-direction: row;
    padding: 3em;
  }
  .home-heading-1,
  .home-heading-2 {
    font-size: 3em;
  }
} */


@media screen and (min-width: 700px) {
  .card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }