@media screen and (min-width: 768px) {
  /* Navigation */
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
    width: 100%;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0;
  }

  .smNav {
    background-color: transparent;
  }

  #nav-icon {
    display: none;
  }
  /* Logo */
  .logoImg {
    position: absolute;
    padding: 1rem;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
  /* Heading */
  #home__heading-1,
  #home__heading-2 {
    color: #fff;
    font-size: 5.5rem;
  }

  .heading {
    font-size: 3.5rem;
  }

  .heading__sub {
    font-size: 1.5rem;
  }

  /* Projects Card */
  .card {
    width: 32rem;
  }

  .about-container,
  .card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin: 2rem;
    transition: transform 0.5s;
  }

  /* skill */
  .skill-container {
    margin: 0 2rem;
  }

  /* footer social icon */
  .fab {
    font-size: 7rem;
  }
}
